.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
}

.information input {
  width: 300px;
  height: 30px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;
}

.information button {
  width: 320px;
  height: 30px;
  margin-top: 15px;
}
.information button:hover {
  cursor: pointer;
}

.empDetails {
  width: 600px;
  height: 150px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 5px;
  margin: 8px;
  /* align-items: left; */
}

.empDetails button {
  width: auto;
}

/* .update {
  position: relative;
  background-color: gainsboro;
  height: 50px;
  width: 280px;
  align-items: left;
} */
